@model Bot.AdminPanel.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыли пароль?";
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <partial name="AdminLTE/_Styles" />
</head>
<body>
    <div class="row" style="margin-top: 100px;">
        <div class="col-sm-6 mx-auto">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                <h4>Для сброса пароля введите email, привязанный к Вашему аккаунту.</h4>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-dark">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>