@model Bot.AdminPanel.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Сбросить пароль";
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <partial name="AdminLTE/_Styles" />
</head>
<body>
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-5 mx-auto">
            <p>
                Мы отправили электронное письмо по адресу @Model.Email с дальнейшими инструкциями.
            </p>
        </div>
    </div>
</body>
</html>